<mat-card>
  <mat-card-header>
    <mat-card-title>Villain Details</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form">
      <div class="editfields">
        <div [hidden]="addMode">
          <mat-form-field>
            <input matInput formControlName="id" placeholder="id" #id readonly>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput formControlName="name" placeholder="name" #name>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <textarea matInput formControlName="saying" placeholder="saying" #saying (keyup.enter)="saveVillain(form)"></textarea>
          </mat-form-field>
        </div>
      </div>
      <button mat-raised-button color="accent" type="button" (click)="clear()" matTooltip="Cancel all changes">Cancel</button>
      <button mat-raised-button color="primary" type="button" (click)="saveVillain(form)" matTooltip="Save all changes">Save</button>
    </form>
  </mat-card-content>
</mat-card>
