<h1>
  RxJS Subjects
</h1>

<br />
<h1>Subscription 1</h1>
<button class="btn btn-primary" (click)="subscribe1()">Subscribe to Observable</button>
<br /><br />
<ul>
  <li *ngFor="let dataItem of subscription1Data">{{ dataItem }}</li>
</ul>

<br />
<h1>Subscription 2</h1>
<button class="btn btn-primary" (click)="subscribe2()">Subscribe to Observable</button>
<br /><br />
<ul>
  <li *ngFor="let dataItem of subscription2Data">{{ dataItem }}</li>
</ul>


<br />
<h1>Subscription 3</h1>
<button class="btn btn-primary" (click)="subscribe3()">Subscribe to Observable</button>
<br /><br />
<ul>
  <li *ngFor="let dataItem of subscription3Data">{{ dataItem }}</li>
</ul>
