<div class="control-panel">
  <div class="button-panel">
    <button
      mat-raised-button
      color="primary"
      type="button"
      (click)="getHeroes()"
      matTooltip="Refresh the heroes"
    >
      Refresh
    </button>
    <button
      mat-raised-button
      color="primary"
      type="button"
      (click)="enableAddMode()"
      *ngIf="!selectedHero"
      matTooltip="Add a new hero"
    >
      Add
    </button>
  </div>
</div>
<div class="content-container">
  <div class="list-container">
    <div *ngIf="heroes">
      <mat-spinner
        *ngIf="loading; else heroList"
        mode="indeterminate"
        color="accent"
      ></mat-spinner>
      <ng-template #heroList>
        <app-hero-list
          [heroes]="heroes"
          [selectedHero]="selectedHero"
          (deleted)="deleteHero($event)"
          (selected)="onSelect($event)"
        ></app-hero-list>
      </ng-template>
    </div>
  </div>
  <div class="detail-container">
    <app-hero-detail
      *ngIf="selectedHero"
      [hero]="selectedHero"
      (unselect)="unselect()"
      (add)="add($event)"
      (update)="update($event)"
    >
    </app-hero-detail>
  </div>
</div>
