@import 'mixin';

* {
  font-family: Arial;
}
h2 {
  color: #444;
  font-weight: lighter;
}
html,
body {
  margin: 0px;
  font-family: Arial;
}

.button-panel > button {
  margin-right: 12px;
}
