<h1>Pipes versus Functions</h1>
This example shows how using pipes (where possible) instead of functions in a template can enhance performance. See the console.
<br /><br />
<h4>Add Product</h4>
Name: <input type="text" (input)="newProduct.name = $event.target.value" [value]="newProduct.name" /> 
<br />
Price: <input type="text" (input)="newProduct.price = $event.target.value" [value]="newProduct.price" /> 
<br /><br />
<button class="btn btn-primary" (click)="addProduct()">Add Product</button>
<br />

<h3>Calling a Function from a Template</h3>
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Total</th>
  </tr>
  <tr *ngFor="let product of products$ | async">
    <td>{{ product.name }}</td>
    <td>{{ addTax(product.price) | currency }}</td>
  </tr>
</table>

<h3>Using a Pipe in a Template</h3>
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Total</th>
  </tr>
  <tr *ngFor="let product of products$ | async">
    <td>{{ product.name }}</td>
    <td>{{ product.price | addtax | currency }}</td>
  </tr>
</table>

<h3>Using a Pipe (and @memo() decorator) in a Template</h3>
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Total</th>
  </tr>
  <tr *ngFor="let product of products$ | async">
    <td>{{ product.name }}</td>
    <td>{{ product.price | addtaxmemo | currency }}</td>
  </tr>
</table>