.button-row {
  margin: 1em 0;
}

.button-row button {
  margin-right: 0.5em;
}

table.nav tr { 
  cursor: pointer; 
  color: #337ab7; 
} 

table.nav tr:hover { text-decoration: underline; } 

td.right, th.right {
  text-align: right;
}

td.right input {
  padding-right: 4px;
  text-align: right;
}

td input.memo {
  width: 20em;
}

td img.details {
  border-radius: 25%;
  width: 130px;
  height: 140px;
}

tr.line-item input {
  width: 3em;
}

ol.nav-links {
  padding-left: 1.2em;
}

section#content {
  margin-top: 3em;
}

section#lab-content {
  margin-top: 0em;
}

#customer-json {
  max-width: 35em;;
}
