<div class="container">
    <h1>Customers/Orders</h1>
    <br />
    <ul class="nav">
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="customersList">Customers List</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="ordersList">Orders List</a>
        </li>
    </ul>
    <br />
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>