<div class="control-panel">
  <div class="button-panel">
    <button
      mat-raised-button
      color="primary"
      type="button"
      (click)="getVillains()"
      matTooltip="Refresh the villains"
    >
      Refresh
    </button>
    <button
      mat-raised-button
      color="primary"
      type="button"
      (click)="enableAddMode()"
      *ngIf="!selectedVillain"
      matTooltip="Add a new villain"
    >
      Add
    </button>
  </div>
</div>
<div class="content-container">
  <div class="list-container">
    <div *ngIf="villains">
      <mat-spinner
        *ngIf="loading; else villainList"
        mode="indeterminate"
        color="accent"
      ></mat-spinner>
      <ng-template #villainList>
        <app-villain-list
          [villains]="villains"
          [selectedVillain]="selectedVillain"
          (deleted)="deleteVillain($event)"
          (selected)="onSelect($event)"
        ></app-villain-list>
      </ng-template>
    </div>
  </div>
  <div class="detail-container">
    <app-villain-detail
      *ngIf="selectedVillain"
      [villain]="selectedVillain"
      (unselect)="unselect()"
      (add)="add($event)"
      (update)="update($event)"
    >
    </app-villain-detail>
  </div>
</div>
